<nav class="navbar navbar-light bg-light border border-5 rounded-end rounded-2">
     <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" href="#">
               <p class="h2">Gestion de Pedidos</p>
          </a>

          <ul>
               <a class="btn btn-outline-success btn-lg" routerLink="/login">Iniciar Sesion</a>
               &nbsp;
               <a class="btn btn-outline-warning btn-lg" routerLink="/registrarse">Registrarse</a>
          </ul>
     </div>
</nav>

<br>

