<app-inicio></app-inicio>
<br>
<div class="container">
     <br>
     <div class="card mx-auto text-center text-dark bg-light mb-3 border border-5 shadow-lg p-3 mb-5 bg-body rounded" style="max-width: 50rem;">
          <div class="card-header">
               <p class="h3">Iniciar Sesion</p>
          </div>
          <div class="card-body">
               <div class="form-floating mb-3">
                    <input id="floatingInput" class="form-control" placeholder="Ingrese el email">
               </div>
               <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
               </div>
               <br>
               <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-lg btn-primary">Iniciar Sesion</button>
               </div>
          </div>
     </div>
</div>
